@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

body {
  background-color: #e9e9e9;
  background-image: url("/static/images/bg5.gif");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
::-webkit-scrollbar {
  display: none;
}


.main-container {
  width: 1250px;
  min-height: 650px;
  background-image: url("/static/images/subbg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: auto;
  box-shadow: 1px 10px 20px 5px #222;
}
.left {
  width: 50%;
  min-height: 500px;
  margin: 5px;
}
.right {
  width: 50%;
  height: 650px;
  padding-bottom: 8px;
  background: transparent
    linear-gradient(to bottom, rgba(10, 11, 31, 0.9) 50%, rgb(10, 11, 31) 70%)
    repeat scroll 0 0;
  /* height: 100vh; */
  overflow-y: auto;
}

/* Right Side Content */

/* Playlist heading */

.playlist-heading {
  width: 90%;
  margin: auto;
  height: 13%;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.playlist-title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.playlist-title i {
  margin: 0;
  margin-right: 10px;
}
.playlist-title h1 {
  letter-spacing: 2px;
}
.playlist-title:active{
  color: aquamarine;
}
.playlist-icon {
  width: 42px;
  height: 35px;
  margin-top: 8px;
  cursor: pointer;
}

#lyricsContent.lyrics {
  max-height: 85%;
  min-width: 50%;
  overflow-y: auto;
  white-space: pre-line;
}
.lyrics, .vocab {
  width: 100%;
  height: 100%;
  background-size: cover;
  font-family: "Arial", sans-serif;
  font-size: 20px;
  padding: 20px;
  margin: 0px;
  text-align: center;
  box-sizing: border-box;
}
.lyrics, .titre, .lyricstxt, .vocab, .vocabtxt{
  width: 100%;
}

.lyrics-content, .vocab-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titre{
  display: block;
  text-align: center;
  margin-bottom: 20px;
}

.lyricstxt, .vocabtxt{
  text-align: center;
  white-space: pre-line;
  overflow-x: auto;
}

#vocabContent.vocab{
  max-height: 85%;
  overflow-y: auto;
  white-space: pre-line;
}

hr {
  width: 90%;
  text-align: center;
  margin: auto;
}
.music {
  height: 87%;
  overflow-y: auto;
}
.song {
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 12px;
  border-radius: 8px;
  font-size: 20px;
  letter-spacing: 1px;
  color: white;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.song-thumbnail {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.song-thumbnail img {
  width: 70px;
  height: 70px;
  margin: 10px;
  border-radius: 4px;
  margin-right: 20px;
}
i {
  margin: 10px;
  font-size: 32px;
  margin-right: 35px;
  cursor: pointer;
}

/* Left Side Content */

h1 {
  margin: 0;
  font-size: 33px;
  color: #fff;
  padding: 0 10%;
}
h3 {
  margin: 0;
  font-size: 17px;
  font-weight: 500;
  color: #ccc;
  padding: 0 10%;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: auto;
  overflow: hidden;
}
.music-player {
  display: block;
  width: 75%;
  height: 90%;
  margin: auto;
  border-radius: 10px;
  background: transparent
    linear-gradient(to bottom, rgba(10, 11, 31, 0.9) 50%, rgb(10, 11, 31) 70%)
    repeat scroll 0 0;
  box-shadow: 1px 10px 20px 5px #222;
}
.cover {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 55%;
}
.cover img {
  width: 55%;
  height: 80%;
  border-radius: 10px;
}

.lecteur {
  width: 100%;
  display: block;
  height: auto;
  position: relative;
  float: left;
}

/* Left Side Music Controls */

.music_controls {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  /* margin-top: 0.5rem; */
}
.music_controls .fas {
  color: white;
  font-size: 2rem;
  cursor: pointer;
  filter: drop-shadow(0 1.2rem 3rem 0.5rem rgba(0, 0, 0, 0.4));
}
.music_controls .main_button {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  background-color: #fd3123;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.4rem;
}
.music_controls .fa-play:hover {
  box-shadow: 0 1rem 2rem 0.2rem rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease-out;
}

.main-title-vol{
  width: 450px;
  max-height: 150px;
  display: flex;
  justify-content: space-between;
  margin: 0px 5px 0px 5px;
}
.titre {
  width: 50%;
  display: block;
}
.volume-controls {
  margin-top: 30px;
  margin-left: -10px;
  width: 50%;
  font-size: 6px;
}
.volume-controls input[type="range"]::-webkit-slider-thumb {
  background-color: red; /* Set the desired color for the slider thumb */
}

.volume-controls input[type="range"]::-moz-range-thumb {
  background-color: red; /* Set the desired color for the slider thumb */
}

.volume-controls input[type="range"]::-ms-thumb {
  background-color: red; /* Set the desired color for the slider thumb */
}

#volume-slider {
  width: 150px;
  background-color: red;
}

.add-song-button {
  position: absolute;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 100%;
  text-align: center;
  bottom: 30px;
  right: 30px;
  background: transparent
    linear-gradient(to bottom, rgba(10, 11, 31, 0.9) 50%, rgb(10, 11, 31) 70%)
    repeat scroll 0 0;
  box-shadow: 0 1rem 2rem 0.2rem rgba(0, 0, 0, 0.4);
  color: white;
}
.add-song-button i {
  margin: 0;
  font-size: 40px;
}
.main-button{
  position: relative;
  order: -1;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 100%;
  text-align: center;
  top: 310px;
  right: 30px;
  background: transparent
    linear-gradient(to bottom, rgba(148, 38, 110, 0.9) 50%, rgb(65, 14, 53) 70%)
    repeat scroll 0 0;
  box-shadow: 0 1rem 2rem 0.2rem rgba(0, 0, 0, 0.4);
  color: white;
  margin-bottom: 10px;
}
.main-button i{
  margin: 0;
  font-size: 40px;
} 


.vocab-button{
  position: relative;
  order: 0;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 100%;
  text-align: center;
  top: 320px;
  right: 30px;
  background: transparent
    linear-gradient(to bottom, rgba(58, 64, 175, 0.9) 50%, rgb(33, 37, 104) 70%)
    repeat scroll 0 0;
  box-shadow: 0 1rem 2rem 0.2rem rgba(0, 0, 0, 0.4);
  color: white;
}
.vocab-button i{
  margin: 0;
  font-size: 40px;
} 

/* Progress Bar */
.progressbar_container {
  height: auto;
  opacity: 0.85;
  width: 90%;
  margin: auto;
  padding: 1.3rem 0;
  /* margin-top: 1rem; */
}

.progress_div {
  width: 100%;
  height: 0.4rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
  border-radius: 4rem;
  position: relative;
  background-color: white;
  margin-top: 0.5rem;
  transition: all 1s linear;
  -moz-transition: all 1s linear;
  -o-transition: all 1s linear;
  -webkit-transition: all 1s linear;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}

.progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: white;
  background-color: #fd3123;
  border-radius: 4rem;
  transition: width 0.1s linear;
  cursor: pointer;
  /* -webkit-appearance: none;
  appearance: none; */
}

.progress_duration_meter {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  color: white;
}

/*vocab*/
.popup-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 9999;
  overflow-y: auto;
  /* display: flex; */
  align-items: center;
  justify-content: center;
}

.popup-content {
  background-color: #fff;
  color:indianred;
  max-width: 800px;
  min-width: 500px;
  padding: 20px;
  max-height: calc(100% - 300px);
  overflow-y: auto;
}

.popup-part {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.popup-part p {
  margin-right: 10px;
}

.popup-part .add-button {
  margin-left: 10px;
}

.open-button,
.close-button {
  margin-bottom: 10px;
  background-color: red;
}